table {
    width: 100%;
    table-layout: fixed;
  }
  
  th {
    overflow: hidden;
    width: 200px;
    text-overflow: ellipsis;
    white-space: nowrap;

  }

  .tp-card {
    width: fit-content
 }

 .mat-column-right {
   text-align: initial;
 }
 
   h1{
    color: darkcyan;
    text-align: center;
    font-size: 3em;
    font-family: fantasy;
      
     }

     .mat-header-cell {
      color: brown
    }