table td {
    text-align: center;
    border: 1px solid;
    padding: 4px 4px;
}

table th {
    text-align: center;
    border: 1px solid;
    padding: 4px 4px;
    background-color:blueviolet;
    color: white;

}

table tr:nth-child(odd) td {
    background-color: #e7edf0;
}