
  <img style="height:100px" src="assets/Vodalogo.png">
  <img style="height:100px; float:right" src="assets/Idealogo.png">
  <br>
    <h1 >Installed Base of VIL Kerala</h1>
    <h6>{{ time }}</h6>
    <br>
    
  <div class="container">
    
    <div class="container_create">
      <img style="height:300px" src="assets/create.png">
      <button class="btn btn-danger" routerLink="create">Create site</button>
    </div>  
    
    <div class="container_view">
      <img style="height:300px" src="assets/view.png">
      <button class="btn btn-danger" routerLink="view1">View and edit database</button>
    </div>

    <div class="container_loading">
      <img style="height:300px" src="assets/Billing1.png">
      <button class="btn btn-danger" routerLink="loading">Loading and energy</button>        
    </div>  

    <div class="container_energy">
      <img style="height:300px" src="assets/mwlb.png">
      <button class="btn btn-danger" routerLink="mwlb">MW Link Budget</button>
    </div> 
    
    </div>
    
   

   

  
    
  
  
  
