<div class="image">

  <br>
    <h1 style="color:blue; text-align: center">Installed Assets of VIL Kerala</h1>
  <div class="container">
    
    <div class="container_create">
      <img style="height:300px" src="create.png">
      <button class="btn btn-primary" routerLink="create">Create site</button>
    </div>
    
    <div class="container_view">
        <img style="height:300px" src="view.png">
        <button class="btn btn-primary" routerLink="view">View database</button>
    </div>
    <div class="container_upload">
          <img style="height:300px" src="upload.png">
          <button class="btn btn-primary" routerLink="upload">Upload file</button>        
    </div>   
  
  </div>
  
  
  
