
  body {
    background-color: orange
  }
  
  .container{
      display: flex;
      justify-content: center;
      align-content: center;  
       }
  .container_create{
      display: flex;
      padding: 5px;    
      flex-direction: column;
      margin-top: 150px;
      
        }  
  .container_view{
    display: flex;
    padding: 5px;
    flex-direction: column;
    margin-top: 150px;
  }
  .container_upload{
    display: flex;
    padding: 5px;
    flex-direction: column;
    margin-top: 150px;
  }
  .container_heading{
      display: flex;
      flex-direction: column
  }