<div class="image">

  <br>
  <br>
  <br>
    <h1 >Installed Base of VIL Kerala</h1>
    <h6>{{ time }}</h6>
    
  <div class="container">
    
    <div class="container_create">
      <img style="height:300px" src="assets/create.png">
      <button class="btn btn-primary" routerLink="create">Create site</button>
    </div>  
    
    <div class="container_view">
      <img style="height:300px" src="assets/view.png">
      <button class="btn btn-primary" routerLink="view1">View database</button>
  </div>
    <div class="container_upload">
          <img style="height:300px" src="assets/Billing1.png">
          <button class="btn btn-primary" routerLink="loading">Site loading</button>        
    </div>   
    <div class="container_create">
      <img style="height:300px" src="assets/mwlb.png">
      <button class="btn btn-primary" routerLink="mwlb">MW Link Budget</button>
    </div>  
  
  </div>

  
  
  
  
