select {
    padding: 4px 4px;
    width: 181px
}

table td {
    
    padding: 4px 4px;
}
h6{
    color: green;
    text-align: end;
  }
.nav-link{
    color: brown;
    font-family: Arial, Helvetica, sans-serif
}
h1{
    color: darkcyan;
    text-align: center;
    font-size: 3em;
    font-family: fantasy;
      
    }
