<div>
    <nav class="navbar navbar-expand-lg ">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/main">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Contact us</a>
            </li>
          </ul>
        </div>
        <h6>{{ time }}</h6>
      </nav>      
<h1 style="text-align: center">New site addition (All fields mandatory)</h1>
<br>
<div>
<form class="form-inline" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <br>
    <br>
<table class="table">
  <tr>
    <td>RFID</td>
    <td><input type="text" name="RFID" ngModel required maxlength="8"></td>
    <td>Infra ID</td>
    <td><input type="text" name="InfraID" ngModel maxlength="8"></td>
    <td>Infra owner</td>
    <td ><select id="InfraOwner" name="InfraOwner" ngModel >
        <option></option>
        <option>Indus</option>
        <option>ATC</option>
        <option>TVIPL</option>
        <option>ATIPL</option>
      </select></td>          
  </tr>
  <tr>            
      <td>Site name</td>
      <td><input type="text" name="SiteName" ngModel></td>
      <td>Zone</td>
      <td ><select #drop1 id="Zone" name="Zone" (change)="changes(drop1)" width="300px" ngModel>
        <option></option>
        <option>Calicut</option>
        <option>Malappuram</option>
        <option>Ernakulam</option>
        <option>Trivandrum</option>
        </select></td>        
        <td>District</td>
        <td ><select id="District" name="District" ngModel width="300px">
        <option *ngFor="let data of datas;">{{data}}</option>
        </select></td>   
    </tr>
    <tr>
        <td>Tower type</td>        
        <td ><select id="TowerType" name="TowerType" ngModel width="300px">
          <option></option>
          <option>RTT</option>
          <option>GBT</option>
          <option>Pole</option>
          <option>IBS</option>
        </select></td>
        <td>Tower Height</td>
        <td><input type="number" name="TowerHeight" ngModel placeholder="Enter AGL" maxlength="2"></td>
        <td>Site type</td>
        <td ><select id="SiteType" name="SiteType" ngModel width="300px">
          <option></option>
          <option>Indoor</option>
          <option>Outdoor</option>
          </select></td>        
      </tr>
      <tr>
          <td>Tenancy count</td>
          <td><input type="number" name="OtherOPCOCount" ngModel maxlength="1"></td>
          <td>BBU Location</td>
          <td ><select id="BBULocation " name="BBULocation" ngModel width="300px">
            <option></option>
            <option>Indoor</option>
            <option>Outdoor</option>
            </select></td>
          <td>BBU Position</td>
          <td ><select id="BBUPosition" name="BBUPosition" ngModel width="300px">
            <option></option>
            <option>Rack</option>
            <option>Floor</option>
            </select></td>
      </tr>
      <tr>
          <td>RRU Count 2G</td>
          <td><input type="number" name="RRUCount2G" ngModel maxlength="2"></td>   
          <td>RRU Count 3G4G</td>
          <td><input type="number" name="RRUCount3G4G" ngModel maxlength="2"></td>
          <td>TDD RRU Count</td>
          <td><input type="number" name="TDDRRUCount" ngModel maxlength="2"></td>
      </tr>
      <tr>
          <td> MIMO RRU Count</td>
          <td><input type="number" name="MIMORRUCount" ngModel maxlength="2"></td>
          <td> Antenna Count 2Port</td>
          <td><input type="number" name="AntennaCount2Port" ngModel maxlength="2"></td>
          <td>Antenna Count 4Port</td>
          <td><input type="number" name="AntennaCount4Port" ngModel maxlength="2"></td>         
      </tr>
      <tr>              
          <td> Antenna Count 6Port</td>
          <td><input type="number" name="AntennaCount6Port" ngModel maxlength="2"></td>
          <td> Antenna Count 8Port</td>
          <td><input type="number" name="AntennaCount8Port" ngModel maxlength="2"></td>
          <td> Antenna Count 10Port</td>
          <td><input type="number" name="AntennaCount10Port" ngModel maxlength="2"></td>     
      </tr>
      <tr>             
          <td>MW Make</td>
          <td ><select #drop2 id="MWMake" name="MWMake" (change)="change(drop2)" width="300px" ngModel>
            <option></option>
            <option>NEC</option>
            <option>Huawei</option>
            </select></td>
          <td> MW Model</td>
          <td ><select id="MWModel" name="MWModel" ngModel width="300px">
            <option *ngFor="let item of items;">{{item}}</option>
            </select></td>
          <td>MW Location</td>
          <td ><select id="MWLocation" name="MWLocation" ngModel width="300px">
            <option></option>
            <option>Indoor</option>
            <option>Outdoor</option>
            </select></td>
          </tr>
          <tr>              
          <td> MW Position</td>
          <td ><select id="MWPosition" name="MWPosition" ngModel width="300px">
            <option></option>
            <option>Rack</option>
            <option>Floor</option>
            </select></td>          
          <td> MW Count</td>
          <td><input type="number" name="MWCount" ngModel maxlength="2"></td>
          <td> ILL Dependnecy</td>
          <td ><select id="ILLDependnecy" name="ILLDependnecy" ngModel width="300px">
            <option></option>
            <option>Yes</option>
            <option>No</option>
            </select></td>
          </tr>
          <tr>              
            <td> Antenna Count 0.3</td>
            <td><input type="number" name="AntennaCountPoint3" ngModel maxlength="2"></td>        
            <td> Antenna Directions 0.3 </td>
            <td><input type="text" name="AntennaDirectionsPoint3" ngModel></td>
            <td> Antenna Count 0.6</td>
            <td><input type="number" name="AntennaCountPoint6" ngModel maxlength="2"></td>
          </tr>
          <tr>             
            <td> Antenna Directions 0.6</td>
            <td><input type="text" name="AntennaDirectionsPoint6" ngModel></td>          
            <td> Antenna Count 0.9  </td>
            <td><input type="number" name="AntennaCountPoint9" ngModel maxlength="2" ></td>
            <td> Antenna Directions 0.9</td>
            <td><input type="text" name="AntennaDirectionsPoint9" ngModel></td>
          </tr>
          <tr>             
            <td> Antenna Count 1.2</td>
            <td><input type="number" name="AntennaCount1Point2" ngModel maxlength="2"></td>
            <td> Antenna Directions 1.2  </td>
            <td><input type="text" name="AntennaDirections1Point2" ngModel></td>
            <td> Antenna Count 1.8</td>
            <td><input type="number" name="AntennaCount1Point8" ngModel maxlength="2"></td>
          </tr>
          <tr>              
            <td> Antenna Directions 1.8</td>
            <td><input type="text" name="AntennaDirections1Point8" ngModel></td>
            <td> MUX Make  </td>
            <td ><select #drop3 id="MUXMake" name="MUXMake" (change)="change1(drop3)" width="300px"ngModel>
              <option></option>
              <option>NA</option>
              <option>Huawei</option>
              <option>Fibcom</option>
              <option>Thejas</option>
              </select></td>
            <td> MUX Model</td>
            <td ><select id="MUXModel" name="MUXModel" ngModel width="300px">
              <option *ngFor="let list of lists">{{list}}</option>                            
              </select></td>
          </tr>
          <tr>                 
            <td> MUX Location</td>
            <td ><select id="MUXLocation" name="MUXLocation" ngModel width="300px">
              <option></option>
              <option>NA</option>
              <option>Indoor</option>
              <option>Outdoor</option>
              </select></td>
            <td> MUX Position</td>
            <td ><select id="MUXPosition" name="MUXPosition" ngModel width="300px">
              <option></option>
              <option>NA</option>
              <option>Rack</option>
              <option>TCU</option>
              <option>MCU</option>
              </select></td>
            <td>MUX Count</td>
            <td><input type="number" name="MUXCount" ngModel ></td>
          </tr>
        </table>
        <button class="btn btn-primary" >Add site</button>    
      </form>
    </div>      
    </div>

