<br>
<div>
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item active">
              <a class="nav-link" routerLink="/main">Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="#">Contact us</a>
            </li>
          </ul>
        </div>
      </nav>
<br>
<h1 style="text-align: center">New site creation</h1>

<form class="form-inline" (ngSubmit)="onSubmit(f)" #f="ngForm">
    
<table class="table">
  <tr>
    <td>RFID</td>
    <td><input type="text" name="RFID" ngModel required></td>
    <td>Infra_ID</td>
    <td><input type="text" name="Infra_ID" ngModel></td>
    <td>Infra_owner</td>
    <td><input type="text" name="Infra_owner" ngModel></td>          
  </tr>
  <tr>            
      <td>Site_name</td>
      <td><input type="text" name="Site_name" ngModel></td>
      <td>Zone</td>
      <td><input type="text" name="Zone" ngModel></td>
      <td>District</td>
      <td><input type="text" name="District" ngModel></td>
      
    </tr>
    <tr>
        <td>Tower_type</td>
        <td><input list="Towertype" name="Tower_type" ngModel></td>
        <datalist id="Towertype">
          <option>RTT</option>
          <option>GBT</option>
          <option>Pole</option>
          <option>IBS</option>
        </datalist>
        <td>Tower_height</td>
        <td><input type="text" name="Tower_height" ngModel></td>
        <td>Site_type</td>
        <td><input list="Sitetype" name="Site_type" ngModel></td>
        <datalist id="Sitetype">
          <option>Indoor</option>
          <option>Outdoor</option>
        </datalist>
        
      </tr>
      <tr>
          <td>Other_OPCO_count</td>
          <td><input type="text" name="Other_OPCO_count" ngModel></td>
          <td>BTS_position_2G</td>
          <td><input list="2Gposition" name="BTS_position_2G" ngModel></td>
          <datalist id="2Gposition">
            <option>Rack</option>
            <option>Floor</option>
            <option>Stack</option>
          </datalist>
          <td>BTS_make_2G</td>

          <td><input list="2Gmake" name="BTS_make_2G" ngModel></td>
          <datalist id="2Gmake">
            <option>MR8</option>
            <option>MR10</option>
            <option>Siemens</option>
          </datalist>
          
        </tr>
        <tr>
            <td> BTS_BBU_Model_2G</td>
            <td><input list="2Gbbu" name="BTS_BBU_Model_2G" ngModel></td>
            <datalist id="2Gbbu">
              <option>FSMF</option>
              <option>ESMB</option>
              <option>NA</option>
            </datalist>
            <td>BTS_RRU_model_2G</td>
            <td><input type="text" name="BTS_RRU_model_2G" ngModel></td>
            <td> RRU_Count2G</td>
            <td><input type="text" name="RRU_Count2G" ngModel></td>
            
          </tr>

          <tr>
              <td>BTS_ODID_3G</td>
              <td><input type="text" name="BTS_ODID_3G" ngModel></td>
              <td> BTS_Position_3G</td>
              <td><input type="text" name="BTS_Position_3G" ngModel></td>
              <td>BTS_BBU_model_3G</td>
              <td><input type="text" name="BTS_BBU_model_3G" ngModel></td>
              
          </tr>
          <tr>
              <td> BTS_RRU_model_3G</td>
              <td><input type="text" name="BTS_RRU_model_3G" ngModel></td>
              <td> RRU_Count_3G</td>
              <td><input type="text" name="RRU_Count_3G" ngModel></td>
          </tr>
                      
    </table>
    <button class="btn btn-primary" >Create</button>    
  </form>
       
</div>
       
    
  
  
