.image{
    height:41em; background-size:cover; width:auto;
    background-image:url('Tower.jpg');
    background-position:50%; 
}
  .container{
      display: flex;
      justify-content: left;
      align-content: inherit;
      
    

      
      }
  .container_create{
      display: flex;
      padding: 5px;
    
      flex-direction: column;
      margin-top: 150px;
  }
  
  .container_view{
    display: flex;
    padding: 5px;
    flex-direction: column;
    margin-top: 150px;
  }
  .container_heading{
      display: flex;
      flex-direction: column
  }